{% extends 'base.html' %}
{% block content %}
<div>
    <div>
        <h1 class="text-center">Welcome to the guitar garage</h1>
        <p class="card-body">This page is a welcome enviornment to share all things guitar and gear related.
            Please feel free to register for an account with us to give you access to be able to comment on the posts and engage with the guitar community,
            and to keep up to date with all new gear releases.   
        </p>
        <p class="card-body">
            You can also follow us on our social media links so you dont miss a thing!
        </p>
    </div>
</div>


{% endblock %}