{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/js/script.js"></script>
    <title>Guitar Garage</title>
</head>
<body>

    <nav class="navbar">
        <div class="logo_header">
          <a href="#" class="logo">Guitar Garage</a>
          <button class="navbar_toggle">
            <i class="fas fa-bars"></i>
          </button>
        </div>
    
        
        <ul class="main_nav">
          <li>
            <a href="#" class="nav_links">Home</a>
          </li>
          <li>
            <a href="#" class="nav_links">about</a>
          </li>
          <li>
            <a href="#" class="nav_links">Register/ Sign in</a>
          </li>
        </ul>
          
    </nav>

    {% block content %}

    {% endblock content %}

<footer>
  <p>
    Follow us on:
  </p>
  <a href="#"><i class="fa-brands fa-facebook"></i></a>
  <a href="#"><i class="fa-brands fa-twitter"></i></a>
  <a href="#"><i class="fa-brands fa-instagram"></i></a>
</footer>
</body>
</html>