{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div>
        <h1>{{ post.title }}</h1>
        <p>{{post.author}}</p>
        <p>{{post.created_on}}</p>
    </div>
    <div class="img">{{post.featured_image}}</div>
    <div>
        {{ post.content }}
    </div>
    <div>{{ updated_on }}</div>
    

</div>
{% if request.user.is_staff %}
    
    <a class="btn btn-primary" href="{% url 'edit_post' post.id %}">Edit</a>
    
    <a class="btn btn-danger" href="{% url 'delete_confirmation' post.id %}">Delete</a>
  {% endif %}
<div class="">
    <h3>Comments:</h3>
    <div class="card-body">
        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
            <p class="font-weight-bold">
                {{ comment.name }}
                <span class=" text-muted font-weight-normal">
                    <!-- The comment's created date goes here -->
                    {{ comment.created_on }}
                </span> wrote:
            </p>
            <!-- The body of the comment goes before the | -->
            {{ comment.body | linebreaks }}
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
    </div>
</div>
{% if user.is_authenticated %}
<form method="post" style="margin-top: 1.3em;">
    {{ comment_form | crispy }}
    {% csrf_token %}
    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
</form>
{% endif %}

{% endblock content %}